<div class="container">
    <div class="row">
      <div class="col">
        <div >
          <a [routerLink]="['/Actualiza',indice]">
         {{indice+1}}: {{empleadoDeLista.nombre}} {{empleadoDeLista.apellido}} {{empleadoDeLista.cargo}} {{empleadoDeLista.salario}}
        </a>
        </div>
        <app-caracteristicas-empleado-c (caracteristicasEmpleado)="agregarCaracteristica($event)"></app-caracteristicas-empleado-c>
        <ul style="list-style: none;">
            <li *ngFor="let caracteristica of arrayCaracteristicas">{{caracteristica}}</li>
          </ul>
      </div>
    </div>  
  </div>
